body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(to right, #000000, #d9ff00);
    margin: 0;
}

.calendar {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    color: white;
    padding: 10px;
}

.calendar-header button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.calendar-weekdays, .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-weekdays div, .calendar-days div {
    padding: 10px;
    text-align: center;
}

.calendar-days div {
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar-days div:hover {
    background-color: #f0f0f0;
}
